date: 12.12.2023
date_of_donation: 20.12.2023
amount: "200.00"
amount_text: Zweihundert
origin: commercial # commercial, private, unknown
valuation_document_exists: true
address: |
  Name
  Straße
  PLZ Adresse
description: |
  Genaue Bezeichnung der Sachzuwendung mit Alter, Zustand, Kaufpreis usw.
  ...
